
/* –––––––––––––––––––––––––––––––––––––––– RESPONSIVE TYPO
*/

/* font-size: calc((X / 16 * 1em) + (Y - X) * (100vw - 20em) / (Z - 320)); */

html {
    font-size: 18px;
    font-size: calc((10 / 16 * 1em) + (30 - 10) * (100vw - 20em) / (1600 - 320));
}


/* –––––––––––––––––––––––––––––––––––––––– CONTENT
*/

#wrapper {
    width: 100vw;
    height: 100vh;
}

#logo {
    width: 20rem;
    max-width: 75%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 5rem;
    position: absolute;
    margin: auto;

    pointer-events: none;
}