
/* –––––––––––––––––––––––––––––––––––––––– RESPONSIVE TYPO
*/

/* font-size: calc((X / 16 * 1em) + (Y - X) * (100vw - 20em) / (Z - 320)); */

html {
    font-size: 18px;
    font-size: calc((10 / 16 * 1em) + (16 - 10) * (100vw - 20em) / (1600 - 320));
}


/* –––––––––––––––––––––––––––––––––––––––– CONTENT
*/

#wrapper {
    width: 100vw;
    height: 100vh;
}

#logo {
    height: 5rem;
    width: 50rem;
    background: red;
    max-width: 50%;
}


/* TEST TEST TEST
*/